#Upperbar{
    background-color: rgb(90, 163, 192);
    border-width: 2px;
    height: 80px;
    width: 100%;

}

#divbar{
    background-color: rgba(250, 216, 23, 0.87);
    height: 4px;
    width: 100%;

}
#blackbar{
    background-color: rgb(38, 43, 42);
    border-width: 2px;
    padding-left: 27%;
    padding-top: 25px;
    padding-bottom: 35px;
    height: 120px;

    color: white;
}
select,input{

  border-width: 2px;
  font-size: 19px;
}
#divbar{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;

}

#workboard{
    padding-left: 6px;
    padding-top: 7px;
    padding-right: 6px;
    padding-bottom: 46px;
    width:60%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 225px;
    left: 17%;
    background-color: rgb(255, 254, 254);
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color:rgba(141, 139, 139, 0.493);
}

#infoboard{
    background-color: rgb(90, 163, 192);
    height: 55px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
